<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserLogin" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"/>
                <binding name="BasicHttpBinding_ITitleAndGameObjectData" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"/>
                <binding name="BasicHttpBinding_IReport" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://1.233.212.138/WcfService1/UserLogin.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserLogin"
                contract="svcUserLogin.IUserLogin" name="BasicHttpBinding_IUserLogin" />
            <endpoint address="http://1.233.212.138/WcfService1/TitleAndGameObjectData.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITitleAndGameObjectData"
                contract="svcTitleNGameObjData.ITitleAndGameObjectData" name="BasicHttpBinding_ITitleAndGameObjectData" />
            <endpoint address="http://1.233.212.138/WcfService1/Report.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReport"
                contract="svcReport.IReport" name="BasicHttpBinding_IReport" />
        </client>
    </system.serviceModel>
</configuration>
